[submodule "submodules/multi_contrast_inr"]
	path = submodules/multi_contrast_inr
	url = https://github.com/liyue3780/multi_contrast_inr.git
	branch = main
[submodule "submodules/nnUNet"]
	path = submodules/nnUNet
	url = https://github.com/liyue3780/nnUNet.git
	branch = mmseg
