[submodule "submodules/multi_contrast_inr"]
	path = hyperresashs/submodules/multi_contrast_inr
	url = https://github.com/pyushkevich/multi_contrast_inr.git
	branch = main
[submodule "submodules/nnUNet"]
	path = hyperresashs/submodules/nnUNet
	url = https://github.com/liyue3780/nnUNet.git
	branch = mmseg
